@import '../../styles/vars.css';

.article {
    border: 1px solid black;
    display: inline-block;
}

.header {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid grey;
}

.header-alert {
    composes: header;

    background-image: linear-gradient(
            to bottom,
            var(--alert) 0%,
            color(var(--alert) lightness(+10%)) 50%,
            color(var(--alert) lightness(+20%)) 100%
    );
    background-color: var(--alert);
    color: white;
}

.textBlock {
    text-align: center;
    padding: 1rem;

    & > p {
        text-align: left;
    }
}
